In [29]:
import numpy as np
np.random.seed(42)
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

df = pd.DataFrame(np.random.randint(10,100, size=(50,5)), columns=['t1', 't2', 't3', 't4', 't5'])
df['time'] = range(0, 50)
df

    t1  t2  t3  t4  t5  time
0   61  24  81  70  30     0
1   92  96  84  84  97     1
2   33  12  31  62  11     2
3   97  39  47  11  73     3
4   69  30  42  85  67     4
5   31  98  58  68  51     5
6   69  89  24  71  71     6
7   56  71  60  64  73     7
8   12  60  16  30  82     8
9   48  27  13  98  69     9
10  23  18  99  62  11    10
11  93  69  80  53  17    11
12  56  44  87  90  45    12
13  59  13  11  15  63    13
14  13  63  72  27  99    14
15  53  43  83  71  23    15
16  57  24  81  87  96    16
17  71  49  94  89  91    17
18  62  33  35  98  69    18
19  50  38  24  54  74    19
20  98  80  18  97  10    20
21  17  97  72  20  90    21
22  17  44  44  42  14    22
23  50  37  16  82  81    23
24  21  43  42  57  32    24
25  71  97  46  53  95    25
26  44  74  56  87  12    26
27  10  14  99  23  36    27
28  18  88  24  99  51    28
29  86  60  72  61  13    29
30  32  24  52  38  45    30
31  22  41  80  68  95    31
32  37  75  51  54  71    32
33  66  15  37  37  53    33
34  93  39  71  84  98    34
35  71  10  36  71  86    35
36  12  79  81  36  18    36
37  71  46  60  53  33    37
38  88  68  41  97  61    38
39  71  67  61  21  48    39
40  11  12  65  90  68    40
41  11  11  63  96  10    41
42  28  11  62  53  99    42
43  41  79  41  77  64    43
44  84  65  26  47  33    44
45  78  79  95  20  25    45
46  82  68  79  89  12    46
47  29  68  45  28  99    47
48  76  28  29  80  61    48
49  42  49  48  91  10    49

In [47]:
pre_1 = {'db3e3197-f547-4781-9829-185157e5636a': {'start': '10', 'stop': '20'}, '9aefe458-0d60-4bf0-afc4-e4730fcffa3e': {'start': '35', 'stop': '40'}, '5d51250f-0b16-4512-911d-3cfc54b75719': {'start': '42', 'stop': '43'}, '990c90a3-0308-4a28-94f4-7379b07fa580': {'start': '46', 'stop': '47'}, '0e5b7ec0-04da-4c24-be92-0c00f996055d': {'start': '48', 'stop': '49'}}
# pre_2 = {'db3e3197-f547-4781-9829-185157e5636a': {'start': '10', 'stop': '20'}}
def label(df, pre, label, ckcolumn = 'time', target = 'target'):
    df['target'] = 0
    for k,v in pre.items():
        target_list = np.where(df[ckcolumn].between(int(v['start']),int(v['stop'])), label, df['target'])
        df[target] = target_list
    return df


label(df, pre_1, "test")

    t1  t2  t3  t4  t5  time target
0   61  24  81  70  30     0      0
1   92  96  84  84  97     1      0
2   33  12  31  62  11     2      0
3   97  39  47  11  73     3      0
4   69  30  42  85  67     4      0
5   31  98  58  68  51     5      0
6   69  89  24  71  71     6      0
7   56  71  60  64  73     7      0
8   12  60  16  30  82     8      0
9   48  27  13  98  69     9      0
10  23  18  99  62  11    10   test
11  93  69  80  53  17    11   test
12  56  44  87  90  45    12   test
13  59  13  11  15  63    13   test
14  13  63  72  27  99    14   test
15  53  43  83  71  23    15   test
16  57  24  81  87  96    16   test
17  71  49  94  89  91    17   test
18  62  33  35  98  69    18   test
19  50  38  24  54  74    19   test
20  98  80  18  97  10    20   test
21  17  97  72  20  90    21      0
22  17  44  44  42  14    22      0
23  50  37  16  82  81    23      0
24  21  43  42  57  32    24      0
25  71  97  46  53  95    25      0
26  44  74  56  87  12    26      0
27  10  14  99  23  36    27      0
28  18  88  24  99  51    28      0
29  86  60  72  61  13    29      0
30  32  24  52  38  45    30      0
31  22  41  80  68  95    31      0
32  37  75  51  54  71    32      0
33  66  15  37  37  53    33      0
34  93  39  71  84  98    34      0
35  71  10  36  71  86    35   test
36  12  79  81  36  18    36   test
37  71  46  60  53  33    37   test
38  88  68  41  97  61    38   test
39  71  67  61  21  48    39   test
40  11  12  65  90  68    40   test
41  11  11  63  96  10    41      0
42  28  11  62  53  99    42   test
43  41  79  41  77  64    43   test
44  84  65  26  47  33    44      0
45  78  79  95  20  25    45      0
46  82  68  79  89  12    46   test
47  29  68  45  28  99    47   test
48  76  28  29  80  61    48   test
49  42  49  48  91  10    49   test